#audio-gif {
  padding-top: 150px;
  padding-left: 2%;
  padding-right: 1%;
  width: 85%;
  height: 80px;
}

#spotify-logo {
  padding-left: 2%;
  width: 50px;
  height: 50px;
}

#menu {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.h1 {
  font-family: "Papyrus";
  font-weight: bold;
  padding-left: 35%;
  padding-top: 2%;
  padding-right: 42%;
  display: inline-block;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
