#PlayButton {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../icons/play.png');
    background-size: 110%;
    background-position-x: -3px;
    background-position-y: -5px;
}